{% extends "Bundle::master.html.twig" %}

{% block title %}Bundle:Post:create{% endblock %}

{% block content %}

    {{ form_start(form) }}


    {{ form_label(form.files) }}
    <div id="email-fields-list" data-prototype="{{ form_widget(form.files.vars.prototype)|e }}">
        {% for field in form.files %}
            {{ form_widget(field) }}
        {% endfor %}
    </div>

    <a href="#" id="add-another-email">Add another email</a>

    {# ... #}
    {{ form_end(form) }}

    <script type="text/javascript">
        // keep track of how many email fields have been rendered
        var emailCount = '{{ form.files|length }}';

        jQuery(document).ready(function () {
            jQuery('#add-another-email').click(function (e) {
                e.preventDefault();

                var emailList = jQuery('#email-fields-list');

                // grab the prototype template
                var newWidget = emailList.attr('data-prototype');
                // replace the "__name__" used in the id and name of the prototype
                // with a number that's unique to your emails
                // end name attribute looks like name="contact[emails][2]"
                newWidget = newWidget.replace(/__name__/g, emailCount);
                emailCount++;

                // create a new list element and add it to the list
                var newLi = jQuery('<li></li>').html(newWidget);
                newLi.appendTo(emailList);
            });
        })
    </script>

    {{ form_end(form) }}

{% endblock %}
