{% extends 'Bundle::master.html.twig' %}

{% block content %}
    <div class="col-sm-12 post">
        <div class="row">
            <div class="col-sm-12">
                <h2>{{ post.getTitle() }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                Author: {{ post.getAuthor().getName() }}<br/>
                {{ post.getComments()|length }} Comments <br/>
                {% if app.user and (app.user.isAdmin() or app.user == post.getAuthor()) %}
                    <a href="{{ path('update_post', {'id' : post.getId()}) }}" class="btn btn-warning">Edit</a>
                    <a href="{{ path('delete_post', {'id' : post.getId()}) }}" class="btn btn-danger">Edit</a>
                {% endif %}
            </div>
            <div class="col-sm-6">
                {{ post.getText() }}
            </div>
            <div class="col-sm-2">
                <h4>Attachments</h4>
                {% for file in post.getFiles() %}
                    <div>
                        {% if file.isImage() %}
                            <img src="{{ path('attachment', {'id' : file.getId()}) }}" class="preview">
                        {% else %}
                            <a href="{{ path('attachment', {'id' : file.getId()}) }}">{{ file.getName() }}</a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="space"></div>
    <div class="col-sm-12 comments">
        {% for comment in comments %}

            <div class="col-sm-12">
                <div class="col-sm-12">
                    <h3>Autor: {{ comment.getAuthor().getName() }}</h3>
                    {% if app.user and (app.user.isAdmin() or app.user == comment.getAuthor()) %}
                        <a class="btn btn-warning"
                           href="{{ path('detail', {"id" : post.getId(), "commentId" : comment.getId()}) }}">Edit</a>
                        <a class="btn btn-danger"
                           href="{{ path('comment_delete', {"post" : post.getId(), "id" : comment.getId()}) }}">Delete</a>
                    {% endif %}
                </div>
                <div class="col-sm-10">
                    {{ comment.getText() }}
                </div>
                <div class="col-sm-2">
                    {% for file in comment.getFiles() %}
                        {% if file.isImage() %}
                            <img src="{{ path('attachment', {'id' : file.getId()}) }}" class="preview">
                        {% else %}
                            <a href="{{ path('attachment', {'id' : file.getId()}) }}">{{ file.getName() }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="col-sm-12">
                    <hr/>
                </div>
            </div>

        {% endfor %}
    </div>
    <div class="col-sm-12 pagination hidden-print">
        {% for i in 1..count %}
            <a class="btn btn-primary{% if i == page %} active{% endif %}"
               href="{{ path('detail', {'id' : post.getId(), 'page' : i}) }}">{{ i }}</a>
        {% endfor %}
    </div>
    {% if form %}
        <div class="col-sm-12 hidden-print" id="comment-form">
            {{ form_start(form) }}
            {{ form_row(form.text) }}

            {{ form_label(form.files) }}
            <div id="email-fields-list" data-prototype="{{ form_widget(form.files.vars.prototype)|e }}">
                {% for field in form.files %}
                    <a class="btn btn-danger" onclick="$(this).parent().remove()">Delete</a>
                    {{ form_widget(field) }}
                {% endfor %}
            </div>

            <a href="#" class="btn btn-success" id="add-another-email">Add</a>

            <hr/>
            {{ form_end(form) }}

            <script type="text/javascript">
                // keep track of how many email fields have been rendered
                var emailCount = '{{ form.files|length }}';

                jQuery(document).ready(function () {
                    jQuery('#add-another-email').click(function (e) {
                        e.preventDefault();

                        var emailList = jQuery('#email-fields-list');

                        // grab the prototype template
                        var newWidget = emailList.attr('data-prototype');
                        // replace the "__name__" used in the id and name of the prototype
                        // with a number that's unique to your emails
                        // end name attribute looks like name="contact[emails][2]"
                        newWidget = newWidget.replace(/__name__/g, emailCount);
                        emailCount++;

                        // create a new list element and add it to the list
                        var newLi = jQuery('<li></li>').html(newWidget);
                        newLi.appendTo(emailList);
                    });
                })
            </script>
        </div>
    {% endif %}
{% endblock %}
