{% extends 'Bundle::master.html.twig' %}

{% block content %}
    {% for post in posts %}
        <div class="col-sm-12 post">
            <div class="row">
                <div class="col-sm-12">
                    <a href="{{ path('detail', {'id' : post.getId()}) }}"><h2>{{ post.getTitle() }}</h2></a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    Author: {{ post.getAuthor().getName() }}<br/>
                    {{ post.getComments()|length }} Comments
                </div>
                <div class="col-sm-8">
                    {{ post.getText() }}
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="col-sm-12 pagination hidden-print">
        {% for i in 1..count %}
            <a class="btn btn-primary{% if i == page %} active{% endif %}" href="{{ path('homepage', {'page' : i}) }}">{{ i }}</a>
        {% endfor %}
    </div>
{% endblock %}
