<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
    <script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"></script>
    <title>{% block title %}{% endblock %} - Wt2 blog</title>
    {% block head %}
    {% endblock %}
</head>
<body>
<div id="content" class="container">
    <div class="row">
        <div class="col-sm-6">
            <a href="{{ path('homepage') }}"><h1>BloG</h1></a>
        </div>
        <div class="col-sm-6 hidden-print">
            {% if app.user and is_granted('ROLE_EDITOR') %}
                <a href="{{ path('create_post') }}" class="btn btn-success">Create post</a>
            {% endif %}
            {% if app.user %}
                <a href="{{ path('logout') }}" class="btn btn-warning">Logout</a>
            {% else %}
                <a href="{{ path('login') }}" class="btn btn-warning">Login</a>
            {% endif %}

        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
<div id="footer">
    {% block footer %}

    {% endblock %}
</div>
</body>
</html>
